// env.cpp
#include "infrastructure/env.h"

const char* OTA_HOSTNAME = "ESP8266-OTA";
const char* OTA_PASSWORD = "your_password";

const char* WIFI_SSID = "name";
const char* WIFI_PASSWORD = "pass";
const char* WIFI_IP = "192.168.1.205";
const char* WIFI_GATEWAY = "192.168.1.1";
const char* WIFI_SUBNET = "255.255.255.0";

const int BOARD_LED_PIN = D4;
const int EXTERNAL_LED_PIN = D1;
const int BUZZER_PIN = D7;

const char* BOT_TOKEN = "...";
const char* CHAT_IDS[] = {
    "123",
    "345",
};
const size_t CHAT_IDS_COUNT = sizeof(CHAT_IDS) / sizeof(CHAT_IDS[0]);

const char* LIGHT_ON_MESSAGE = "Світло ввімкнене";
